# Frontend Environment Variables
FRONTEND_PORT=7000
BACKEND_PORT=8000
BACKEND_URL=http://localhost:8000

# Keycloak Configuration
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT=axiomnizam-frontend
